<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Number</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <Note @name="Foo" @author="bar" @nr="5" />
        <Note @name="Foo" @author="whel" @nr="5" @active="false" />
    </tbody>
</table>