/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.green-dot {
  /* use on empty div */
  width: 20px;
  height: 20px;
  background: #0f0;
  border-radius: 50%;
}

.red-dot {
  /* use on empty div */
  width: 20px;
  height: 20px;
  background: #f00;
  border-radius: 50%;
}
