.div-table-container {
    width: 100%;
    display: table;
}

.div-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.div-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}

.div-table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.div-table-body {
    display: table-row-group;
}

.div-table-row {
    display: table-row;
}

.div-table-body-cell {
    display: table-cell;
}

.div-table-footer {
    display: table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.45);
}

.div-table-footer-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.green-dot {
    /* use on empty div */
    width: 20px;
    height: 20px;
    background: #0F0;
    border-radius: 50%;
}

.red-dot {
    /* use on empty div */
    width: 20px;
    height: 20px;
    background: #F00;
    border-radius: 50%;
}