<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notenliste</title>
    <meta name="description" content="note manager for orchestras">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/index.css'>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .green-dot {
            /* use on empty div */
            width: 20px;
            height: 20px;
            background: #0F0;
            border-radius: 50%;
        }

        .red-dot {
            /* use on empty div */
            width: 20px;
            height: 20px;
            background: #F00;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    {{ if .LoggedIn }}
    <form hx-post="/add-note" hx-target="#note-list" hx-swap="beforeend" hx-indicator="#spinner-add">
        <input type="hidden" name="login-id" value="{{ .LoginID }}">
        <label for="nr">Nummer</label>
        <input type="number" name="nummer" id="nr" required>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <label for="Active">Aktiv</label>
        <input type="checkbox" name="active" id="active">
        <button type="submit">
            <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner-add" role="status"
                aria-hidden="true"></span>
            Submit
        </button>
    </form>
    {{ else }}
    <form action="/" method="post" hx-boost="true">
        <label for="username">Nutzer</label>
        <input type="text" name="username" id="username">
        <label for="password">Passwort</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
    {{ end }}
    <form hx-post="/sort-by" hx-target="#note-list" hx-swap="outerHTML" hx-indicator="#spinner-sort">
        {{if .LoggedIn }}<input type="hidden" name="login-id" value="{{ .LoginID }}">{{ end }}
        <label for="sort-by-number">Sort by number</label>
        <!-- SORT_BY_NR has value 0, see storage/entry.go -->
        <input type="radio" name="sorting-method" id="sort-by-number" value="sort-by-number" {{ if eq .SortingMethod 0
            }}checked{{ end }}>
        <label for="sort-by-name">Sort by name</label>
        <!-- SORT_BY_NAME has value 1, see storage/entry.go -->
        <input type="radio" name="sorting-method" id="sort-by-name" value="sort-by-name" {{ if eq .SortingMethod 1
            }}checked{{ end }}>
        <label for="active-only">Active only</label>
        <input type="checkbox" name="active-only" id="active-only" {{ if .ActiveOnly }}checked{{ end }}>
        <input type="submit" value="Update">
    </form>
    {{ block "entries" .}}
    <div id="note-list" class="table">
        <div class="table-header-group">
            <div class="table-cell">Nummer</div>
            <div class="table-cell">Name</div>
            <div class="table-cell">Author</div>
            <div class="table-cell">Aktiv</div>
            <div class="table-cell">Dateien</div>
            {{ if .LoggedIn }}<div class="table-cell p-2">Update</div>{{ end }}
        </div>
        <div class="table-row-group">
            {{ range .Notes }}
            {{ block "note" . }}
            <form class="table-row" hx-post="/update-single-note" hx-swap="outerHTML">
                {{if .LoggedIn }}<input type="hidden" name="login-id" value="{{ .LoginID }}">{{ end }}
                <div class="table-cell">
                    {{if .LoggedIn }}
                    <input type="number" name="new-nr" value="{{ .CurrentNr }}">
                    <input type="hidden" name="oldNr" value="{{ .CurrentNr }}">
                    {{ else }}
                    <p>{{ .CurrentNr }}</p>
                    {{ end }}
                </div>
                <div class="table-cell">
                    <p>{{ .Name }}</p>
                    <input type="hidden" name="name" value="{{ .Name }}">
                </div>
                <div class="table-cell">
                    {{ if .Author }}
                    <input type="hidden" name="author" value="{{ .Author }}">
                    <p>{{ .Author }}</p>
                    {{ else }}
                    <p>---</p>
                    {{ end }}

                </div>
                <div class="table-cell">
                    <div class="{{ if .Active }}green-dot{{ else }}red-dot{{ end }}"></div>
                    {{ if .LoggedIn }}
                    <input type="checkbox" name="active" {{ if .Active }}checked{{ end }}>
                    {{ end }}
                </div>
                <div class="table-cell">
                    {{ if .LoggedIn }}
                        {{ if .HasFiles }}
                            <div id="file-container-{{ .Name }}">
                                {{ range .Files }}
                                <form hx-post="/update-file" hx-swap="outerHTML">
                                    <a href="/note-files/{{ .NoteName }}/{{ .File }}">{{ .File }}</a>
                                    <input type="hidden" name="file-name" value="{{ .File }}">
                                    <input type="hidden" name="file-note" value="{{ .NoteName }}">
                                    <label for="new-file">Neue Datei</label>
                                    <input type="file" name="new-file" id="new-file">
                                    <label for="delete-file">Löschen</label>
                                    <input type="checkbox" name="delete-file" id="delete-file">
                                    <input type="submit" value="Aktualisieren">
                                </form>
                                {{ end }}
                            </div>
                        {{ else }}
                            <p>---</p>
                        {{ end }}
                        <form hx-post="/add-file" hx-target="#file-container-{{ .Name }}" hx-swap="beforeend" hx-indicator="#spinner-add-file-{{ .Name }}">
                            <input type="hidden" name="file-note-name" value="{{ .Name }}">
                            <label for="new-file">Datei</label>
                            <input type="file" name="new-file" id="new-file">
                            <label for="new-file-name">Name</label>
                            <input type="text" name="new-file-name" id="new-file-name">
                            <input type="submit" value="Hochladen">
                        </form>
                    {{ else }}
                        {{ if .HasFiles }}
                            {{ range .Files }}
                                <a href="/note-files/{{ .NoteName }}/{{ .File }}">{{ .File }}</a>
                            {{ end }}
                        {{ else }}
                            <p>---</p>
                        {{ end }} 
                    {{ end }}
                </div>
                {{ if .LoggedIn }}
                <div class="table-cell">
                    <input type="submit" value="Update">
                </div>
                {{ end }}
            </form>
            {{ end }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</body>

</html>