<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Author</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.notes as |note|}}
      <Note @note="note" />
    {{/each}}
  </tbody>
</table>