<tr>
  <td class="note-nr">{{@this.args.note.nr}}</td>
  <td class="note-name">{{@this.args.note.name}}</td>
  <td class="note-author">{{#if
      @this.args.note.author
    }}{{@this.args.note.author}}{{else}}---{{/if}}</td>
  <td class="note-active">
    {{#if @this.args.note.active}}
      <div class="green-dot" />
    {{else}}
      <div class="red-dot" />
    {{/if}}
  </td>
</tr>